body {
    background-color: rgb(50.2%, 50.2%, 50.2%);
    background-image: url('../assets/actors\ den.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

body main {

    display: flex;
    justify-content: space-around;
}

#Activities_planned .category-item {
    background-color: #bc3f49d8;
    height: 40vh;
    width: 45vw;
    border-radius: 20px;

}

#Activity_goal_description .description {
    background-color: rgba(255, 192, 203, 0.671);
    height: 40vh;
    width: 30vw;
    border-radius: 20px;

}
form{
    display:none;
}

