body {
    background-color: rgb(50.2%, 50.2%, 50.2%);

    background-image: url('../assets/actors\ den.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
/*edit input form */
body main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#Activities_planned {
    flex: 2;
}

.form-container {
    flex: 1;
    display: none;
    background-color: rgb(163, 86, 86);
    padding: 1rem;
    border-radius: 10px;
    
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}
body main {

    display: flex;
    justify-content: space-around;
}

#Activities_planned .category-item {
    background-color: #bc3f49d8;
    height: 40vh;
    width: 45vw;
    border-radius: 20px;

}

#Activity_goal_description .description {
    background-color: rgba(255, 192, 203, 0.671);
    height: 40vh;
    width: 30vw;
    border-radius: 20px;

}
form{
    display:none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
    position: relative;
}
#About{
    background-color: rgb(3, 3, 3);
    padding-left: 50px;
    color: aliceblue;
    font-size: 20px;
}
html {
    scroll-behavior: smooth;
}

nav ul {
    list-style-type: none;
}
a{
    text-decoration: none;
    colour:red;
}
#About {
    display: grid;
    place-items: center;
    height: 5vh;
    text-align: center;
    background-color: rgb(17, 17, 17);
    padding: 20px;
}
